<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">jlcarveth.dev</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Blog <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-info type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</nav>