<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); -%>
    </head>
    <body>
        <header>
            <%- include('../partials/navbar'); -%>
        </header>
        <main>
            This is a test!
        </main>
    </body>
</html>